<div class="card">
    <div class="flexed-section">
        <h2>{{ title (replace .TableName "_" " ") }}</h2>
        {{ if isset .TableValues "pagination"}}
            <div v-show="variables.{{ .TableValues.variable }}.limit = {{ .TableValues.item_limit }},
                variables.{{ .TableValues.variable }}.total_pages = Math.ceil({{ .TableValues.pagination }} / variables.{{ .TableValues.variable }}.limit),
                variables.{{ .TableValues.variable }}.total_pages > 1,
                variables.{{ .TableValues.variable }}.offset={{ .TableValues.item_limit }}*variables.{{ .TableValues.variable }}.page"
            >
            <button 
                aria-label="Previous Page" v-on:click="changePageCount('{{ .TableValues.variable }}', -1),
                getAllOutages('&search=' + variables.{{ .TableValues.variable }}.search)" 
                :disabled="variables.{{ .TableValues.variable }}.page <= 1" class="main-button"
            >&#171;</button>
            &nbsp;&nbsp;${ variables.{{ .TableValues.variable }}.page } of ${ variables.{{ .TableValues.variable }}.total_pages }&nbsp;&nbsp;
            <button aria-label="Next Page" 
                v-on:click="getAllOutages('&search=' + variables.{{ .TableValues.variable }}.search),
                changePageCount('{{ .TableValues.variable }}', 1)" 
                :disabled="variables.{{ .TableValues.variable }}.page >= variables.{{ .TableValues.variable }}.total_pages" class="main-button"
            >&#187;</button>
            </div>
        {{ else }}
            <div v-show="variables.pageItemCount = {{ .TableValues.item_limit }},
                variables.pageNum = getArrayLength({{ .TableValues.variable }}) / variables.pageItemCount, 
                variables.pageNum > 1"
            >
                <button aria-label="Previous Page" v-on:click="changePageCount('{{ .TableValues.variable }}_page', -1)" 
                :disabled="{{ .TableValues.variable }}_page <= 1" class="main-button">&#171;</button>
                &nbsp;&nbsp;${ {{ .TableValues.variable }}_page } of ${ Math.ceil(variables.pageNum) }&nbsp;&nbsp;
                <button aria-label="Next Page" v-on:click="changePageCount('{{ .TableValues.variable }}_page', 1)" 
                :disabled="{{ .TableValues.variable }}_page >= Math.ceil(variables.pageNum)" class="main-button">
                &#187;</button>
            </div>
        {{ end }}
    </div>
    <div class="card__small-table hide-mobile">
        {{ if .TableValues.enable_search }}
            <input 
                type="text" class="full-width" placeholder="{{ .TableValues.enable_search.placeholder }}"
                v-model="variables.{{ .TableValues.variable }}.search" 
                @input=" variables.{{ .TableValues.variable }}.page = 1,
                    {{ if isset .TableValues.enable_search "reset_function" }} {{ .TableValues.enable_search.reset_function }}('{{ .TableValues.variable }}'),{{ end }} 
                    {{ .TableValues.enable_search.function }}('&search=' + variables.{{ .TableValues.variable }}.search)
                "
            />
        {{ end }}
        <table>
            <tr>
                {{ range $i := .TableValues.keys }}
                    {{ range $j, $k := $i }}
                    <th>{{ replace (title (replace $j "_" " ")) "Id" "ID" }}</th>
                    {{ end }}
                {{ end }}
            </tr>
            {{ $id := 0}}

            {{ if isset .TableValues "pagination"}}
            <tr v-for="tablevalue in {{ .TableValues.variable }}">
            {{ else }}
            <tr v-for="tablevalue in {{ .TableValues.variable }}.slice(({{ .TableValues.variable }}_page - 1) * variables.pageItemCount, 
                {{ .TableValues.variable }}_page * variables.pageItemCount)"
            >
            {{ end }}
                {{ if .TableValues.key_renaming }}
                    {{ range $i := .TableValues.keys }}
                        {{ range $j, $k := $i }}
                            {{ if in (lower $j) "id" }}{{ $id = $k }}{{ end }}

                            {{ if in (lower $j) "date" }}
                                <td v-text="shortenJSONDate(tablevalue['{{ $k }}'])"></td>
                            {{ else if in (lower $j) "time" }}
                                <td v-text="findJSONDateTime(tablevalue['{{ $k }}'])"></td>
                            {{ else if eq (printf "%T" $k) "map[string]interface {}"}}
                                {{ if isset $k "compare_array" }}
                                    <td><div v-text="tablevalue['{{ $j }}'] ? '{{ $k.if_true }}' : '{{ $k.if_false }}'"
                                        class="table__rounded-label"
                                        :class="{ {{ range $value, $class := $k.values }}
                                        '{{ $class }}' : {{ $value }} == tablevalue['{{ $j }}'],
                                        {{ end }} }"
                                    ></div></td>
                                {{ else if isset $k "mapping" }}
                                    <td><div v-text="tablevalue['{{ $k.mapping }}'].toLowerCase()"
                                    class="table__rounded-label"
                                    :class="{ {{ range $value, $class := $k.values }}
                                    '{{ $class }}' : '{{ $value }}' == tablevalue['{{ $k.mapping }}'].toLowerCase(),
                                    {{ end }} }"
                                    ></div></td>
                                {{ else if isset $k "calculate" }}
                                    <td v-text="{{ $k.calculate }}({{ delimit $k.params ", "}})"></td>
                                {{ else }}
                                    <td>{{ $k }}</td>
                                {{ end }}
                            {{ else }}
                                <td v-text="tablevalue['{{ $k }}']"></td>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                {{ end }}
            </tr>
        </table>
    </div>
</div>