html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    line-height: 1.8em;
}
*, *:before, *:after {
box-sizing: inherit;
}

h1, h2 {
    font-size: 1em;
}

/* Assign grid instructions to our parent grid container */
.grid-container {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "sidenav main";
    height: 100vh;
}

/* Give every child element its grid name */
.header, .footer, .flexed-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    background-color: #f5f6fc;
    padding: 15px;
    position: sticky;
    top: 0;
    border-bottom: 2px solid;
    border-color: #e6e9f7;
}

.footer {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.sidenav {
    grid-area: sidenav;
    background-color: #141b41;
    overflow:scroll;
}

.main {
    grid-area: main;
    background-color: #e6e9f7;
    overflow:scroll;
}

.site__copyright {
    margin: auto;
}

.hide-mobile {
    display: none;
}
.hide-desktop {
    display: block;
}

.hide-mobile-cell {
    display: none;
}

.sidenav__logo-svg {
    width: 25px;
    padding: 15px 0;
    margin-left: auto;
    margin-right: auto;
}

.sidenav__list-item-svg {
    width: 25px;
    margin-left: auto;
    margin-right: auto;
    flex: center;
    float: none;
}

.sidenav__list-item-label {
    margin: 0px 50px;
}

.sidenav__list-item-current {
    color: #cfceef;
}

.sidenav__list-item-svg-wrapper {
    width: 100%;
    padding: 15px 0;
}

.sidenav__list-item-svg-wrapper:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.sidenav__list-item {
    padding: 10px 15px;
    color: #ddd;
    text-decoration: none;
}

.sidenav__list-label {
    padding: 0 15px;
    color: #ddd;
    font-size: small;
    font-weight: bold;
}

.main-header {
    display: flex;
    justify-content: space-between;
    /* padding: 20px; */
    height: 150px; 
    background-color: #f5f6fc;
    color: slategray;
}

/* .main-overview, .main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    grid-auto-rows: 94px;
    grid-gap: 20px;
    margin: 20px;
} */
  
.overviewcard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 20px; */
    padding-right: 30px;
    background-color: #f5f6fc;
}

.overviewcard__icon {
    display: flex;
    padding: 14px
}

.overviewcard__icon-svg {
    height: 55px;
    padding: 14px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.light-orange-bg {
    background-color: #efdbc5;
}

.light-green-bg {
    background-color: #b6ebd1;
}

.light-pink-bg {
    background-color: #f3d5e4;
}

.light-gray-bg {
    background-color: #e8e7ea;
}

.overviewcard__icon-label {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.main-grid {
    max-width: 1536px;
}

.new-grid-row {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 20px;
    margin: 20px;
}

.grid-span-full, .grid-span-onethird, .grid-span-half {
    grid-column: 1 / -1;
    padding: 20px;
}

.main-content {
    /* padding: 20px; */
    background-color: #f5f6fc;
}

.full-width {
    width: 100%;
}

input {
    padding: 10px;
    margin: 15px 0;
}

.rounded-label {
    border: 1px solid #fff;
    border-radius: 50px;
    text-align: center;
    padding: 0 10px;
    /* font-size: small; */
}

/* .card {
    min-height: 350px;
    padding: 20px;
    background-color: #f5f6fc;
}

.card__inner-wrap {
    width: 100%;
}

.card__small-table {
    max-height: 300px;
    overflow: scroll;
}*/

button {
    background-color: transparent;
    border: none;
    text-align: left;
    line-height: 1.8em;
}

.main-button {
    background-color: #d7d6fb;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 0px 10px;
    cursor: pointer;
    text-align: center;
}

button:disabled {
    background-color: #e8e7ea;
    cursor: default;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    transition: opacity 0.3s ease;
}
  
.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}
  
.modal-container {
    width: 80%;
    margin: 0px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    overflow: scroll;
    max-height: 90vh;
}
  
.modal-container h1 {
    margin-top: 0;
    color: #306BAC;
    font-size: 1.25rem;
}

.modal-container h2 {
    font-size: 1.1rem;
}

.modal-container h3 {
    font-size: 1rem;
}
  
.modal-body {
    margin: 20px 0;
}
  
.modal-default-button {
    float: right;
}
  
/* SVG LOGO */
.cls-1,.cls-2{fill-opacity:0;stroke-miterlimit:10;}.cls-1{stroke:#a3a1e1;stroke-width:50px;}.cls-2{stroke:#6F9CEB;stroke-width:30px;}

.grid-auto {
    display: grid;
    grid-auto-columns: auto;
}

table {
    width: 100%;
    text-align: left;
    /* border-collapse: separate; */
    /* border-spacing: 15px 0; */
}

th {
    padding: 10px 0;
    background-color: #f5f6fc;
}

td {
    padding: 10px 0;
}

td.desktop-only, th.desktop-only,
td.larger-desktop-only, th.larger-desktop-only {
    display: none;
}

th.mobile-only, td.mobile-only {
    display: table-cell;
}

.inline-outage-label {
    display: inline-block;
}

.font-bold {
    font-weight: bold;
}

.font-small {
    font-size: small;
}

/* td {
    border-bottom: 1px solid #a3a1e1;
} */

.map-wrapper {
    height: 200px;
    width: 100%;
}

#map {
    height: 100%;
}