{{ define "main" }}
<div>
    
    <div class="main-header">
        <div class="main-header__heading">${ message }</div>
        <div class="main-header__updates">Recent Items</div>
    </div>

    <div class="main-overview">
        {{ range $i, $j := .Params.Stats }}
            {{ partial "cards/overview.html" (dict "StatName" $i "StatValues" $j) }}
        {{ end }}
    </div>

    <div class="main-content">
        {{ range $i, $j := .Params.Tables }}
            {{ partial "cards/content.html" (dict "TableName" $i "TableValues" $j) }}
        {{ end }}
    </div>
</div>
{{ end }}