<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <div class="grid-container" id="app">
            <aside class="sidenav">
                {{- partial "sidenav.html" . -}}
            </aside>
            <main class="main">
                <header class="header">
                    {{- partial "header.html" . -}}
                </header>

                <div class="content">
                {{- block "main" . }}{{- end }}
                </div>
            </main>
        </div>
        <footer class="footer">
            {{- partial "footer.html" . -}}
        </footer>
    </body>
</html>
