<div class="modal-mask" ref="id_{{ .id }}" id="id_{{ .id }}" >
    <div class="modal-wrapper" @click.self="toggleModal('id_'+{{ .id }})">
      <div class="modal-container">

        <div class="modal-header">
          <h3>{{ .title }}</h3>
        </div>

        <div class="modal-body">
          {{ .content }}
        </div>

        <div class="modal-footer">
            <button class="main-button modal-default-button" @click="toggleModal('id_'+{{ .id }})">
              Cool, I got it!
            </button>
        </div>
      </div>
    </div>
</div>