<div class="overviewcard grid-span-onethird" 
    {{ if isset .StatValues "onclick" }}@click="{{ .StatValues.onclick.function }}({{ delimit .StatValues.onclick.params ", "}})"{{ end }}
>
    <div class="overviewcard__icon">
        {{ if isset .StatValues "icon" }}
            <div class="overviewcard__icon-svg {{ .StatValues.class }}">{{- partial .StatValues.icon }}</div>
        {{ end }}
            <div class="overviewcard__icon-label">{{ title (replace .StatName "_" " ") }}</div>
    </div>
    <div class="overviewcard__info">{{ .StatValues.variable }}</div>
</div>