{{ if isset .TableValues "pagination"}}
    <div v-show="
        variables.{{ .TableValues.variable }}.total_pages = Math.ceil({{ .TableValues.pagination }} / variables.{{ .TableValues.variable }}.limit),
        variables.{{ .TableValues.variable }}.total_pages > 1" :key="variables.{{ .TableValues.variable }}.offset"
    >
    <button 
        aria-label="Previous Page" v-on:click="changePageCount('{{ .TableValues.variable }}', -1),
        getAllOutages('&search=' + variables.{{ .TableValues.variable }}.search)" 
        :disabled="variables.{{ .TableValues.variable }}.page <= 1" class="main-button"
    >&#171;</button>
    &nbsp;&nbsp;${ variables.{{ .TableValues.variable }}.page } of ${ variables.{{ .TableValues.variable }}.total_pages }&nbsp;&nbsp;
    <button aria-label="Next Page" 
        v-on:click="changePageCount('{{ .TableValues.variable }}', 1),
        getAllOutages('&search=' + variables.{{ .TableValues.variable }}.search)" 
        :disabled="variables.{{ .TableValues.variable }}.page >= variables.{{ .TableValues.variable }}.total_pages" class="main-button"
    >&#187;</button>
    </div>
{{ else }}
    <div v-show="variables.pageItemCount = {{ .TableValues.item_limit }},
        variables.pageNum = getArrayLength({{ .TableValues.variable }}) / variables.pageItemCount, 
        variables.pageNum > 1"
    >
        <button aria-label="Previous Page" v-on:click="changePageCount('{{ .TableValues.variable }}_page', -1)" 
        :disabled="{{ .TableValues.variable }}_page <= 1" class="main-button">&#171;</button>
        &nbsp;&nbsp;${ {{ .TableValues.variable }}_page } of ${ Math.ceil(variables.pageNum) }&nbsp;&nbsp;
        <button aria-label="Next Page" v-on:click="changePageCount('{{ .TableValues.variable }}_page', 1)" 
        :disabled="{{ .TableValues.variable }}_page >= Math.ceil(variables.pageNum)" class="main-button">
        &#187;</button>
    </div>
{{ end }}