{{ $functions := "" }}
{{ if isset .Params "click" }}
    {{ $functions = .Get "click" }}
{{ end }}

<div class="{{ .Get "class" }}" id="{{ .Get "id" }}">
    <input 
        type="button" class="{{ .Get "class" }}-button" 
        :value="variables.{{ .Get "button" }}.limit"
    />
    <div>
        {{ $item := split (.Get "items") ", " }}
        {{ range $i := $item }}
            <div
            v-on:click="{{ replace $functions "XITEM" $i }}"
            >{{ $i }}</div>
        {{ end }}
    </div>
</div>