{{ $functions := "" }}
{{ if isset .Params "click" }}
    {{ $functions = .Get "click" }}
{{ end }}

<div class="{{ .Get "class" }}" id="{{ .Get "id" }}" 
    v-clickaway="()=>hideSetting('hide{{ .Get "id" }}')"
>
    <button 
        class="{{ .Get "class" }}-button" 
        @click="settings.hide{{ .Get "id" }} = !settings.hide{{ .Get "id" }}"
    >
        <div class="flexed-section">
            <div>${ variables.{{ .Get "button" }}.limit }</div>
            <div :class="{
                'rotate-180' : !settings.hide{{ .Get "id" }},
                'rotate-0' : settings.hide{{ .Get "id" }},
            }">{{ partial "svg/arrowdown.svg" }}</div>
        </div>
    </button>
    <div 
        class="{{ .Get "class" }}-content"
        v-show="!settings.hide{{ .Get "id" }}"
        @click="settings.hide{{ .Get "id" }} = !settings.hide{{ .Get "id" }}"
    >
        {{ $item := split (.Get "items") ", " }}
        {{ range $i := $item }}
            <div
                @click="{{ replace $functions "XITEM" $i }}"
            >{{ $i }}</div>
        {{ end }}
    </div>
</div>