{{ $functions := "" }}
{{ if isset .Params "click" }}
    {{ $functions = .Get "click" }}
{{ end }}

<div class="{{ .Get "class" }}" id="{{ .Get "id" }}">
    <input 
        type="button" class="{{ .Get "class" }}-button" 
        :value="variables.{{ .Get "button" }}.limit"
        @click="settings.hide{{ .Get "id" }} = !settings.hide{{ .Get "id" }}"
    />
    <div 
        class="{{ .Get "class" }}-content"
        v-show="!settings.hide{{ .Get "id" }}"
        @click="settings.hide{{ .Get "id" }} = !settings.hide{{ .Get "id" }}"
    >
        {{ $item := split (.Get "items") ", " }}
        {{ range $i := $item }}
            <div
                @click="{{ replace $functions "XITEM" $i }}"
            >{{ $i }}</div>
        {{ end }}
    </div>
</div>