{{ $k := .k }}
<td
    {{ if isset $k "cell_class"}}
        class="{{ $k.cell_class }}"
    {{ end }}

    {{ if $k.trigger_modal }}
        @click="variables.modal_outage = tablevalue,
        toggleModal('id_'+'{{ .modal_id }}')"
    {{ end }}
>
    {{ if isset $k "mapping" }}
        {{ partial "tables/table_cell_div.html" (dict "k" $k) }}
    {{ else if isset $k "html" }}
        {{ range $u := $k.html }}
            {{ range $v := $u }}
                {{ partial "tables/table_cell_div.html" (dict "k" $v) }}
            {{ end }}
        {{ end }}
    {{ end }}
</td>